workflows/statemachines/v2.asl.json
{
  "Comment": "v2 - Moderate uploaded images",
  "StartAt": "Moderator",
  "States": {
    "Moderator": {
      "Type": "Task",
      "Resource": "${ModeratorFunctionArn}",
      "Next": "Moderation Result?"
    },
    "Moderation Result?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.moderationResult",
          "BooleanEquals": true,
          "Next": "Resizer"
        },
        {
          "Variable": "$.moderationResult",
          "BooleanEquals": false,
          "Next": "RecordFailState"
        }
      ],
      "Default": "RecordFailState"
    },
    "Resizer": {
      "Type": "Task",
      "Resource": "${ResizerFunctionArn}",
      "Next": "Publish"
    },
    "Publish": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${PublishFunctionArn}",
        "Payload": {
          "Input.$": "$"
        }
      },
      "End": true
    },
    "RecordFailState": {
      "Type": "Task",
      "Resource": "${DDBUpdateItem}",
      "End": true,
      "Parameters": {
          "TableName": "${DDBTable}",
          "Key": {
              "PK": {
                  "S": "workflow"
              },
              "SK": {
                  "S.$": "$.detail.ID"
              }
          },
          "UpdateExpression": "set objStatus = :newStatus, detail = :detail",
          "ExpressionAttributeValues": {
            ":newStatus": {
                "S": "FAILED_MODERATION"
            },
            ":detail": {
              "S.$": "$.workflowDetail"
            }
          }
      }
    }
  }
}
